header {
  background-image: url(../../img/fondo/head3.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin-bottom: 50px;
}

h1 {
  padding-top: 20px;
}

.titpri {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.esc-head {
  width: 8%;
  height: 8%;
}

header div {
  display: flex;
  justify-content: center;
}

.escudo {
  width: 140px;
  height: 100px;
  padding: 25px 25px 0 25px;
}

header div nav div ul li {
  border: 5px solid rgb(37, 176, 222);
  width: 150px;
  height: 75px;
  text-align: center;
  background-color: azure;
  margin: 15px;
  line-height: 70px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

button {
  width: 150px;
  height: 60px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  border: rgb(255, 255, 255) solid 2px;
  background: transparent;
  flex-wrap: wrap;
}

.boots {
  padding-top: 50px;
}

a:hover {
  color: black;
}

.div1 {
  padding-top: 100px;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 2px;
    text-align: center;
  }
  .head2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.colornegro {
  background-image: linear-gradient(to left, rgb(54, 154, 226), rgb(0, 0, 0), rgb(54, 154, 226), rgb(0, 0, 0));
  color: white;
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer div a img {
  width: 100px;
  height: 100px;
}

.divfoo {
  margin: 0 30px 0 30px;
}

.divfoo p, .divfoo img {
  margin: 15px;
  flex-shrink: unset;
}

.linea {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .divfoo {
    flex-direction: column;
  }
  .linea {
    display: none;
  }
}
main {
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    flex-wrap: wrap;
  }
}
.section1 {
  display: flex;
  margin-bottom: 50px;
  justify-content: baseline;
}

.parraf1-celu {
  padding-left: 20px;
}

.divfechas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fechas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
  .zoom-in-right, .zoom-in-left {
    display: none;
  }
  .fechas {
    flex-direction: column;
  }
  .mainp1 {
    width: 90%;
  }
}
.main2 div ul {
  list-style: none;
  flex-wrap: wrap;
}

.divmain2 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.separador2 {
  margin: 70px 30px;
}

.imagenp2 {
  width: 450px;
  height: 450px;
}

.imagenp2-2 {
  width: 400px;
  height: 420px;
}

.imgpage2-3 {
  width: 600px;
  height: 450px;
}

.efectoimagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.efectoimagen figure {
  position: relative;
  height: 500px;
  width: 450px;
  overflow: hidden;
  border: 6px;
  cursor: pointer;
}

.efectoimagen figure img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-out;
}

.efectoimagen figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 123, 0.6);
  transition: 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.efectoimagen figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.efectoimagen figure:hover > .img {
  transform: scale(1.5);
}

.efectoimagen figure:hover > .capa h6 {
  margin-top: 150px;
  margin-bottom: 120px;
}

.efectoimagen figure .capa h6 {
  color: white;
  font-weight: 500px;
  margin-bottom: 120px;
  transition: 0.5s ease-out;
  margin-top: 30px;
}

h6 {
  font-size: 40px;
}

.section2 {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
}

.section2 div {
  display: flex;
  flex-direction: column;
}

.imgsec2 {
  width: 250px;
  height: 250px;
}

.parte1, .parte2, .parte3, .parte4, .parte5, .parte6 {
  position: absolute;
}

.parte1, .parte3, .parte5 {
  transition: all 0.5s;
}

.parte1:hover, .parte3:hover, .parte5:hover {
  transform: translate(75px, 75px);
}

.titulopage2 {
  margin-bottom: 70px;
  font-size: x-large;
  text-align: center;
}

.titulomenciones {
  margin-bottom: 150px;
  font-size: x-large;
}

.l-carr {
  color: black;
}

.div-p2 {
  margin-bottom: 50px;
}

.carrou {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .divmain2 {
    flex-direction: column;
    height: min-content;
  }
  .main2 {
    margin: 0;
    padding: 0;
  }
  .efectoimagen {
    width: min-content;
    height: min-content;
  }
}
.instagram-media {
  width: 100px;
  height: 350px;
}

.forma3 {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-around;
}

.imagenp3 {
  width: 500px;
  height: 350px;
}

.parrafo3 {
  margin-left: 5%;
}

.eliminarig {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .mainpage3, .forma3 {
    display: flex;
    flex-direction: column;
  }
  .parrafo3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }
  .forma3 {
    width: 100%;
  }
  .imagenp3 {
    width: 400px;
    height: 280px;
  }
  .eliminarig {
    display: none;
  }
}
.forma4 {
  width: 250px;
  height: 200px;
}

.divfotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "bod1 bod2 bod3 bod4" "bod5 bod6 bod11 bod11" "bod7 bod8 bod11 bod11" "bod9 bod10 bod11 bod11" "bod12 bod13 bod14 bod15";
}

.espacio4 {
  display: flex;
  justify-content: center;
}

.divfotos :nth-child(1) {
  grid-area: bod1;
}

.divfotos :nth-child(2) {
  grid-area: bod2;
}

.divfotos :nth-child(3) {
  grid-area: bod3;
}

.divfotos :nth-child(4) {
  grid-area: bod4;
}

.divfotos :nth-child(5) {
  grid-area: bod5;
}

.divfotos :nth-child(6) {
  grid-area: bod6;
}

.divfotos :nth-child(7) {
  grid-area: bod7;
}

.divfotos :nth-child(8) {
  grid-area: bod8;
}

.divfotos :nth-child(9) {
  grid-area: bod9;
}

.divfotos :nth-child(10) {
  grid-area: bod10;
}

.divfotos :nth-child(11) {
  grid-area: bod11;
}

.divfotos :nth-child(12) {
  grid-area: bod12;
}

.divfotos :nth-child(13) {
  grid-area: bod13;
}

.divfotos :nth-child(14) {
  grid-area: bod14;
}

.divfotos :nth-child(15) {
  grid-area: bod15;
}

.sepa4 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.analisisp4 {
  height: 100%;
  margin-bottom: 50px;
}

.espacio4, .fotopri {
  margin-bottom: 30px;
}

.analisisp4 p {
  margin: 0 30px 0 30px;
}

.divfotos .espacio4:hover {
  transform: scale(2);
  transition: all 0.5s;
  border: #000000 solid;
  background-image: linear-gradient(to left, rgb(54, 154, 226), rgb(0, 0, 0));
}

.esp-parr {
  margin-bottom: 1000px;
}

@media screen and (max-width: 768px) {
  .divfotos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .divfotos .espacio4:hover {
    display: none;
  }
  .tablaf {
    width: 400px;
  }
  .camfoto {
    width: 450px;
    height: 705px;
    margin-bottom: 200px;
  }
  .forma4 {
    width: 350px;
    height: 250px;
  }
  .camfoto {
    width: 80%;
    height: 80%;
  }
  .tablaf {
    width: 200px;
    height: 300px;
  }
}
.alberdi {
  width: 600px;
  height: 450px;
  margin-left: 100px;
}

.mapa5 {
  width: 500px;
  height: 450px;
}

.prim5 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.separador5 {
  margin-bottom: 40px;
}

.cultu {
  display: flex;
  flex-direction: column;
}

.imgcultu {
  display: flex;
  justify-content: center;
}

.cultulink {
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
}

.cultulink li:hover {
  transform: scaleY(2.5);
  transform: scaleX(1.5);
  text-decoration: underline;
}

.cultulink li a {
  text-decoration: none;
  color: #000000;
}

.cultulink li {
  list-style: none;
  margin-bottom: 5px;
}

.sepalink {
  margin-bottom: 50px;
}

.mediap5 {
  display: none;
}

@media screen and (max-width: 768px) {
  .section5 {
    display: flex;
    flex-direction: column;
  }
  .prim5 {
    display: flex;
    flex-direction: column;
  }
  .alberdi {
    display: none;
  }
  .mediap5 {
    display: block;
    width: 400px;
    height: 225px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .mapa5 {
    width: 400px;
    height: 225px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .imgcultu {
    display: none;
  }
  .cultulink {
    flex-direction: column;
  }
  .cultulink li a {
    text-decoration: underline;
  }
}
.redes {
  list-style: none;
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.redes li a {
  text-decoration: none;
}

.fa-brands {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
  width: 15px;
  height: 20px;
}

.fa-brands:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
}

.fa-facebook-f {
  background-color: #2E406E;
  border-radius: 1rem 0 0 0;
  height: 100%;
}

.fa-instagram {
  background-color: #3F60A5;
  height: 100%;
}

.fa-youtube {
  background-color: rgb(248, 11, 11);
  height: 100%;
}

.fa-twitter {
  background-color: #339DC5;
  border-radius: 0 0 0 1rem;
  height: 100%;
}

.botonarriba {
  background-color: #000000;
  color: #339DC5;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  top: 90%;
  right: 0;
  line-height: 40px;
  border: solid rgb(255, 255, 255);
  font-size: x-large;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: black;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #22a1db, #040a0d, #22a1db);
  border-radius: 10px;
}

.redescelu {
  display: none;
}

@media screen and (max-width: 768px) {
  .redes {
    display: none;
  }
  .botonarriba {
    display: none;
  }
  .redescelu {
    display: flex;
    text-decoration: none;
    list-style: none;
  }
  .redescelu li {
    padding: 15px;
    width: 100px;
    height: 100px;
    line-height: 15px;
  }
  .fa-facebook-f {
    background-color: #2E406E;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: xx-large;
  }
  .fa-instagram {
    background-color: #3F60A5;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: xx-large;
  }
  .fa-youtube {
    background-color: rgb(248, 11, 11);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: xx-large;
  }
  .fa-twitter {
    background-color: #339DC5;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: xx-large;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(37, 176, 222);
  background-image: url(../img/fondo/fondo.jpg);
}

h1 {
  font-size: 70px;
  color: rgb(85, 173, 236);
  float: 0 0 0 20px;
}

.titulos {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*# sourceMappingURL=style.css.map */
