.instagram-media{
    width: 100px;
    height: 350px;
}

.forma3{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
}

.imagenp3{
    width: 500px;
    height: 350px;
}

.parrafo3{
    margin-left: 5%;
}

.eliminarig{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .mainpage3, .forma3{
        display: flex;
        flex-direction: column;
    }
    .parrafo3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        
    }
    .forma3{
        width: 100%;
    }

    .imagenp3{
        width: 400px;
        height: 280px;
    }
    .eliminarig{
        display: none;
    }


}