.instagram-media{
    width: 100px;
    height: 350px;
}

.forma3{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
}

.imagenp3{
    width: 500px;
    height: 350px;
}

.parrafo3{
    margin-left: 5%;
}